.BlueNavigator {
    display: block;
    height: 38px;
    line-height: 38px;
    border-top: 1px solid #0B4BA0;
    background: -moz-linear-gradient(top, #3D90D9 0%, #3E79DD 60%, #3E64E0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3D90D9), color-stop(60%,#3E79DD), color-stop(100%,#3E64E0));
    background: -webkit-linear-gradient(top, #3D90D9 0%, #3E79DD 60%, #3E64E0 100%);
    background: -o-linear-gradient(top, #3D90D9 0%, #3E79DD 60%, #3E64E0 100%);
    background: -ms-linear-gradient(top, #3D90D9 0%, #3E79DD 60%, #3E64E0 100%);
    background: linear-gradient(to bottom, #3D90D9 0%, #3E79DD 60%, #3E64E0 100%);
    & > div {
        display: block;
        height: 37px;
        border-top: 1px solid rgba(255, 255, 255, 0.61);
        & > ul {
            display: block;
            height: 37px;
        }
    }
}

.BlueNavigatorFullScreen {
    position: relative;
    width: 1920px;
    margin-left: -960px;
    left: 50%;
    & > div > ul {
        width: 1120px;
        margin: 0 auto;
    }
}